td.data-bar-cell {
    padding: 4px 8px;
}

td.data-bar-cell .data-bar-wrapper .data-bar {
    height: 20px;
    padding: 2px 2px;
    min-width: 1px;
    background-color: #f81b00;
    white-space: nowrap;
}

td.data-bar-cell .data-bar-wrapper {
    border: solid 1px white;
}

#summary {
    padding-top: 5px;
}

tr.expanded-content-row {
    font-family: sans-serif;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

tr.expanded-content-row h3 {
    font-weight: bold; 
    margin: 0px 0px;
}

tr.expanded-content-row p {
    margin: 0px 0px;
}

tr.expanded-content-row td {
    padding: 2px 12px;
    line-height: 16px;
}

tr.expanded-content-row th {
    border-bottom: solid 1px #dddddd;
}

tr.expanded-content-row ul {
    margin-bottom: 0px;
}

tr.expanded-content-row li {
   line-height: 0px; 
}

tr.expanded-content-row code {
    background: #212527;
    border: 1px solid #ddd;
    border-left: 3px solid #53963e;
    color: #9FFB7C;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.0;
    padding: 8px 10px;
    display: block;
    word-wrap: break-word;

#    background: #f4f4f4;
#    border: 1px solid #ddd;
#    border-left: 3px solid #66d42f;
#    color: #444;
#    font-family: sans-serif;
#    font-size: 14px;
#    line-height: 1.6;
#    padding: 8px 10px;
#    display: block;
#    word-wrap: break-word;
}
